 body {
     background: url(../img/stickMen.jpg) repeat;
     width: 100%;
     height: 100vh;
}
 div .letterBox {
     background-color: red font-size: 30px;
}
 #snoopy, #profile {
     height: 40%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 100%;
     margin-bottom: 10%;
}
 #profile {
     border-radius: 3px;
}
 .char {
     margin-left: 14px 
}
 .gameover-word {
     text-align: center;
     color: #ffc107 
}
 .gameover-heading {
     color: #873534 
}

 .form-container {
     border: 3px solid #0077b5;
     padding: 60px 60px;
     background-color: #0077b5;
     margin-top: 12vh;
     -webkit-box-shadow: -3px 6px 78px 15px rgba(0,0,0,0.75);
     -moz-box-shadow: -3px 6px 78px 15px rgba(0,0,0,0.75);
     box-shadow: -3px 6px 78px 15px rgba(0,0,0,0.75);
     border-radius: 2vh 
}
 .new-gamebtn {
     margin-top: 15vh;
}
 h1 {
     color: white;
     text-align:center;
     margin-bottom: 5vh 
}
 p {
     color: white;
     text-align:center;
     margin-top: 0.2vh 
}
 .game-center {
     text-align: center;
     font-size: 1.2em;
     color: #fff;
}
 #menu-outer {
     height: 50px;
     background: lightblue;
     border-radius: 2px;
     margin: 0 auto;
}
 .spaces {
     margin-left: 5px;
     font-size: 20px;
}
 .table {
     display: table;
    /* Allow the centering to work */
     margin: 0 auto;
}
 ul#horizontal-list {
     list-style: none;
     text-align: center;
     width: 100%;
     margin: 0 auto;
     padding: 0px;
     padding-top: 20px;
}
 ul#horizontal-list li {
     display: inline;
}
 .wrapperExample3 {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
 .wrapperExample3 {
     border: 0.3px solid #f76707;
     border-radius: 2px;
     background-color: #fff4e6;
}
 .nestedExample3 {
     border: 1px solid #ffec99;
     border-radius: 5px;
     background-color: #fff9db;
     padding: 2px;
}
 .normal {
     border: 1px solid #ffa94d;
     border-radius: 1px;
     background-color: #ffd8a8;
     padding: 1px;
     color: #d9480f;
     text-align: center 
}
 .incorrect {
     border: 1px solid #ffa94d;
     border-radius: 1px;
     background-color: #d9480f;
     padding: 1px;
     color: #fff;
     text-align: center 
}
 .correct {
     border: 1px solid #ffa94d;
     border-radius: 1px;
     background-color: green;
     padding: 1px;
     color: #fff;
     text-align: center 
}
 #mainTitle {
     font-family: 'Mukta', sans-serif;
     font-family: 'Kaushan Script', cursive;
     margin-top: -25px;
}
 .win-heading {
     color: #28a745;
}
 .menu_input {
     margin-top: 25px;
}
 .game_submit {
     border-radius: 3px;
     margin: 10px auto;
     display: block;
}

.scoreboard-loss {
     margin-top: -15px;
     
}
 /* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 


 @font-face {font-family:"Stick Figures";src:url("1-26d83.eot?") format("eot"),url("1-26d83.ttf") format("truetype"),url("1-26d83.svg#Stick_Figures") format("svg");font-weight:400;font-style:normal;}
.stick {
     font-family:"Stick Figures";
     color:#fff;
     font-size: 50px;
}


